doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    style.
        body {
            margin: 0 0;
            padding: 0 0;
        }
        div#main {
            margin: 0 0;
            padding: 2em 2em;
            height: 400px;
        }
        .red {
          background-color: red;
        }
        .blue {
          background-color: blue;
        }
body
    block content
